.trc_user_exclude_btn {
    background: url("//cdn.taboola.com/libtrc/static/thumbnails/f539211219b796ffbb49949997c764f0.png") no-repeat scroll 0 0 transparent;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 9000;
    cursor: pointer;
    visibility: hidden;
}

.trc_undo_btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
    color: #3366CC;
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 0 1px;
    z-index: 11000;
    visibility: hidden;
}

.videoCube:hover .trc_user_exclude_btn,.videoCube_hover .trc_user_exclude_btn,.trc_user_excluded.videoCube:hover .trc_undo_btn,.trc_user_excluded.videoCube_hover .trc_undo_btn,.trc_undo_btn.trc_anchor {
    visibility: visible;
}

.videoCube.trc_user_excluded .trc_user_exclude_btn {
    visibility: hidden;
}

.trc_fade {
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transition: opacity 500ms 0s, visibility 0s 500ms;
    -moz-transition: opacity 500ms 0s, visibility 0s 500ms;
    -ms-transition: opacity 500ms 0s, visibility 0s 500ms;
    -o-transition: opacity 500ms 0s, visibility 0s 500ms;
    transition: opacity 500ms 0s, visibility 0s 500ms;
}

.trc_fade.trc_in,.trc_user_excluded .trc_exclude_overlay {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    -ms-transition-delay: 0s, 0s;
    -o-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
}

.trc_excludable .trc_exclude_overlay {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    background-color: white;
    /* this is to make elements from underneath this overlay unclickable in IE */;
}

.videoCube.trc_excludable .trc_exclude_overlay.trc_fade {
    filter: alpha(opacity=80) 9;
    /* fix for IE8 and below - keep opacity the same or else it goes crazy, because we also change the visibility */;
}

.videoCube.trc_user_excluded .trc_exclude_overlay {
    visibility: visible;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.videoCube.trc_user_excluded .thumbBlock {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}

.videoCube.trc_user_excluded a .video-label-box .label-box-overlay {
    background-color: #BBBBBB;
    -webkit-transition: background-color 500ms 0s;
    -moz-transition: background-color 500ms 0s;
    -ms-transition: background-color 500ms 0s;
    -o-transition: background-color 500ms 0s;
    transition: background-color 500ms 0s;
}

.videoCube.trc_user_excluded:hover a .video-label-box .video-title,.videoCube_hover.trc_user_excluded a .video-label-box .video-title {
    text-decoration: none;
}

.videoCube.trc_user_excluded a .video-label-box *,.videoCube.trc_user_excluded:hover a .video-label-box *,.videoCube_hover.trc_user_excluded a .video-label-box * {
    color: #000000;
    overflow: hidden;
    /* fixes a bug in IE7 - opacity does not work with overflow: visible */
    -webkit-transition: color 500ms 0s;
    -moz-transition: color 500ms 0s;
    -ms-transition: color 500ms 0s;
    -o-transition: color 500ms 0s;
    transition: color 500ms 0s;
}

.videoCube.thumbnail_under.trc_user_excluded .video-labels-anchor,.videoCube.thumbnail_under.trc_user_excluded:hover .video-labels-anchor {
    max-height: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.trc_popover_aug_container {
    position: static;
}

#tbl-aug-qzd8ui #tbl-aug-ho6bv8 #tbl-aug-ko6cko .trc_popover {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    cursor: default;
    top: 0;
    right: 0;
    z-index: 12000;
    width: 180px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}

#tbl-aug-qzd8ui #tbl-aug-ho6bv8 #tbl-aug-ko6cko .trc_popover.trc_bottom {
    margin-top: 10px;
}

#tbl-aug-qzd8ui #tbl-aug-ho6bv8 #tbl-aug-ko6cko .trc_popover.trc_bottom .trc_popover_arrow {
    top: -11px;
    right: 11px;
    margin-left: -11px;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-top-width: 0;
}

#tbl-aug-qzd8ui #tbl-aug-ho6bv8 #tbl-aug-ko6cko .trc_popover.trc_bottom .trc_popover_arrow:after {
    top: 1px;
    margin-left: -10px;
    border-bottom-color: #ffffff;
    border-top-width: 0;
}

#tbl-aug-qzd8ui #tbl-aug-ho6bv8 #tbl-aug-ko6cko .trc_popover iframe {
    width: 100%;
}

#tbl-aug-qzd8ui #tbl-aug-ho6bv8 #tbl-aug-ko6cko .trc_popover .trc_popover_arrow, #tbl-aug-qzd8ui #tbl-aug-ho6bv8 #tbl-aug-ko6cko .trc_popover .trc_popover_arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: solid transparent;
}

#tbl-aug-qzd8ui #tbl-aug-ho6bv8 #tbl-aug-ko6cko .trc_popover .trc_popover_arrow {
    border-width: 11px;
}

#tbl-aug-qzd8ui #tbl-aug-ho6bv8 #tbl-aug-ko6cko .trc_popover .trc_popover_arrow:after {
    border-width: 10px;
    content: "";
}

#tbl-aug-qzd8ui #tbl-aug-ho6bv8 #tbl-aug-ko6cko .trc_popover_fade {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 500ms 0s, visibility 0s 500ms;
    -moz-transition: opacity 500ms 0s, visibility 0s 500ms;
    -ms-transition: opacity 500ms 0s, visibility 0s 500ms;
    -o-transition: opacity 500ms 0s, visibility 0s 500ms;
    transition: opacity 500ms 0s, visibility 0s 500ms;
}

#tbl-aug-qzd8ui #tbl-aug-ho6bv8 #tbl-aug-ko6cko .trc_popover_fade.trc_in {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    -ms-transition-delay: 0s, 0s;
    -o-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
}

/* bao kim css */

.baokim-form-wrapper {
    padding: 1em 0;
    background-color: #58b15b;
    font-family: sans-serif;
    font-size: 10px;
}
.baokim-form-wrapper form {
    background: #fff;
    padding: 4em 4em 2em;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
}
.baokim-form-wrapper form h2 {
    margin: 0 0 50px 0;
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #666;
    border-bottom: solid 1px #e5e5e5;
}
.baokim-form-wrapper form p {
    margin: 0 0 3em 0;
    position: relative;
}
.baokim-form-wrapper form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin: 0;
}
.baokim-form-wrapper form input[type="text"], form input[type="password"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.4em;
    padding: 0.8em 0.5em;
    border-radius: 2px;
}
.baokim-form-wrapper form input[type="text"]:focus, form input[type="password"]:focus {
    background: #fff;
}
.baokim-form-wrapper form span {
    display: block;
    padding: 2px 5px;
    color: #666;
    font-size: 0.85em;
}
.baokim-form-wrapper form span.title {
    font-size: 1.3em;
    font-weight: bold;
}
.baokim-form-wrapper form input[type="submit"] {
    background: rgba(148, 186, 101, 0.7);
    box-shadow: 0 3px 0 0 rgba(123, 163, 73, 0.7);
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.6em;
    line-height: 1.6em;
    margin: 2em 0 0;
    outline: none;
    padding: 0.8em 0;
    text-shadow: 0 1px #68b25b;
    transition: all .35s ease-in-out;
}
.baokim-form-wrapper form input[type="submit"]:hover {
    background: rgba(148, 175, 101, 1);
    text-shadow: 0 1px 3px rgba(70, 93, 41, 0.7);
}
.baokim-form-wrapper form label {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
}
.baokim-form-wrapper form label.floatLabel {
    top: -11px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.3em;
}


.baokim-form-wrapper .bank_list #b_l {
    list-style-type: none;
}

.baokim-form-wrapper .bank_list #b_l li {
    display: inline-block;
    width: 90px;
    margin: 10px 10px 0 0;
    border-bottom: none;
    padding: 0 !important;
}

img {
    min-width: 30px;
    min-height: 45px;
}

.bank_list {
    margin-top: 0px;
    clear: both;
}

.img-bank.img-active {
    box-shadow: inset 0 0 0 1px #58b15b; /* border inside */
    box-sizing: border-box; /* Include padding and border in element's width and height */
}

.baokim-form-wrapper form input[type=submit][disabled] {
    cursor: not-allowed;
}